.site-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    background: $black;

    p {
        line-height: 1;
        color: $grey-dark;
    }
}

    .site-footer__link {
        font-size: $font-size-extra-large;
        color: $white;
    }