.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.8rem;
    width: 100vw;
    font-family: $font-family-base;
    transform: translateY(0);
    z-index: 1;
}

.head-up {
    transform: translateY(-100%);
}

.site-header .wrapper {
    width: 100%; 
}