html, 
body {
    background: $white;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 3.6rem;
}

.article-item {
    margin-top: 3.75rem;
}

.intro {
    margin: 13rem 0 0 8.333333333%;
}

.section--spaced {
    margin-top: 6rem;
}

#body {
    padding-bottom: 8rem;
}