html, 
body {
    background: $white;
}

body.inverted {
    background: $black;
    color: $white;

    .site-main {
        padding-bottom: 0;
    }

    .site-nav__link {
        &:hover,
        &:focus {
            color: $white;
        }
    }

    p {
        color: $white;
    }

    .section--bordered p {
        padding: 0;
        margin: 0;
    }

    .paragraph-jumbo {
        color: $white;

        a {
            position: relative;
            color: $white;
        }
    }
}

.site-main {
    padding-bottom: 8rem;
}

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 3.6rem;
}

.article-item {
    margin-top: 3.75rem;
}

.section--intro {
    position: relative;
    padding: 14rem 0 0;
    animation: 2s ease fadeinup;
}

.section--spaced {
    margin-top: 6rem;
}

.section--bordered {
    padding: 4rem 0;
    border-top: 1px solid $grey-dark;
    
    &:last-of-type {
        border-bottom: 1px solid $grey-dark;
    }

}

@keyframes fadeinup {
    0% { 
        opacity: 0;
        transform: translateY(1rem); 
    }

    10% { 
        opacity: 0;
        transform: translateY(1rem); 
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#body {
    padding-bottom: 8rem;
}