.site-nav {
    padding-right: 2rem;
}

    .site-nav__list {
        display: flex;
        align-content: center;
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: $font-family-base;
    }
        
    .site-nav__link {
        color: $text;
        margin-bottom: 1rem;
        margin-left: 2rem;
        font-size: $font-size-base;
        color: $grey;
        transition: color 0.2s ease;

        &:hover,
        &:focus {
            color: $black;
        }
    }