{% extends 'partials/base.html.twig' %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

{% block content %}
    <div class="pure-g grid-wrapper u-flex-center">
        <div class="pure-u-2-3 grid-item">
            <h1 class="u-mt-7-5">Contact us</h1>
            <form action="" method="post" class="form contact-form">
                <div class="form__group form__group--inline form__group--half">
                    <label class="form__label" for="form-name">My name is</label>
                    <input id="form-name" class="form__input" type="text" placeholder="Full name">
                </div>
                <div class="form__group form__group--inline form__group--half">
                    <label class="form__label" for="form-email">My email address is</label>
                    <input id="form-email" class="form__input" type="text" placeholder="Email address">
                </div>
                <div class="form__group">
                    <label class="form__label" for="form-message">My message is</label>
                    <textarea id="form-email" class="form__textarea" type="text" placeholder="Please enter a message here..."></textarea>
                </div>
                <div class="form__group">
                    <input class="form__submit btn btn--secondary" type="submit">
                </div>
            </form>
        </div>

        <div class="pure-u-5-6 grid-item">
            <div class="contact-address">
                <div class="contact-address__map">
                    <div id='map' style='width: 100%; height: 100%;'></div>
                </div>
                
                <div class="contact-address__content">
                    <h2>Find us</h2>
                    <ul class="contact-address__list">
                        <li>Welsh Homestead</li>
                        <li>Address Line 01</li>
                        <li>Address Line 02</li>
                        <li>Wales</li>
                        <li>WL6 4DS</li>
                    </ul>
                    <ul class="contact-address__list">
                        <li>t: <a href="#">07968 65473</a></li>
                        <li>e: <a href="#">info@welshhomestead.co.uk</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}