{% extends 'partials/base.html.twig' %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

{% block content %}    
{% for file in header.custom_file %}
<img class="profile-image" src="{{ file.path }}" alt="">
{% endfor %}
{% if header.introduction %}
<section class="section--intro">
	<div class="grid">
		<div class="grid__item grid__item-3-4">
			<p class="paragraph-jumbo paragraph-jumbo--profile">{{ header.introduction }}</p>
		</div>
	</div>
{% endif %}
</section>
{% endblock %}
