{% extends 'partials/base.html.twig' %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

{% block content %}    
<img class="profile-image" src="../user/pages/images/image-profile-tb.jpg" alt="">
{% if header.heading %}
<section class="section--intro">
	<div class="grid">
		<div class="grid__item">
			<p class="paragraph-jumbo paragraph-jumbo--profile">{{ header.heading }}</p>
		</div>
        {% for file in header.custom_file %}
        <div>
            <img src="{{ file.path }}">
        </div>
        {% endfor %}
	</div>
{% endif %}
</section>
{% endblock %}
