{% extends 'partials/base.html.twig' %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

{% block content %}    
{% for file in header.custom_file %}
<img class="profile-image" src="{{ file.path }}" alt="">
{% endfor %}
{% if header.introduction %}
<section class="section--intro">
	<div class="grid pure-g">
		<div class="grid__item pure-u-3-4">
			<p class="paragraph-jumbo paragraph-jumbo--profile">{{ header.introduction }}</p>
		</div>
	</div>
</section>
{% endif %}
<section class="section--bordered section--spaced">
	<div class="grid pure-g">
		<div class="grid__item pure-u-1 pure-u-md-1-3 pure-u-lg-1-2">
			<h4 class="heading--box">About me</h4>
		</div>
		<div class="grid__item pure-u-1 pure-u-md-2-3 pure-u-lg-1-2">
			<p>I am a detail oriented and empathetic designer focused on creating beautiful user interfaces and digital designs with the experience of the user and end-goal of the product at the forefront of design thinking.</p>
		</div>
	</div>
</section>
<section class="section--bordered">
	<div class="grid pure-g">
		<div class="grid__item pure-u-1 pure-u-md-1-3 pure-u-lg-1-2">
			<h4 class="heading--box">Capabilities</h4>
		</div>
		<div class="grid__item pure-u-1 pure-u-md-2-3 pure-u-lg-1-2">
			<ul class="profile-list">
				<li class="profile-list__item">Interaction design</li>
				<li class="profile-list__item">UI design</li>
				<li class="profile-list__item">App design</li>
				<li class="profile-list__item">Front-end development</li>
			</ul>
		</div>
	</div>
</section>
<section class="section--bordered">
	<div class="grid pure-g">
		<div class="grid__item pure-u-1 pure-u-md-1-3 pure-u-lg-1-2">
			<h4 class="heading--box">Interests</h4>
		</div>
		<div class="grid__item pure-u-1 pure-u-md-2-3 pure-u-lg-1-2">
			<ul class="profile-list">
				<li class="profile-list__item">Photography</li>
				<li class="profile-list__item">Videography</li>
				<li class="profile-list__item">Music production</li>
				<li class="profile-list__item">Tea</li>
			</ul>
		</div>
	</div>
</section>
{% endblock %}
