{% extends 'partials/base.html.twig' %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

{% block content %}    
<section class="section--intro">
{% if header.heading %}
	<div class="grid">
		<div class="grid__item">
			<p class="paragraph-jumbo">{{ header.heading }}</p>
		</div>
        {% for file in header.custom_file %}
        <div>
            <img src="{{ file.path }}">
        </div>
        {% endfor %}
	</div>
{% endif %}
</section>
{% endblock %}
