.btn {
    position: relative;
    height: 3.75rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(4rem + 29px) 0 2rem;
    border: 1px solid $black;
    background: $brand-color1-light;
    font-family: $font-family-base;
    font-size: $font-size-small;
    color: $black;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: background 0.2s ease;

    &::after {
        content: url(../../../pages/images/icon-arrow-right.svg);
        width: 29px;
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translate(0rem, -5px);
        transition: transform 0.2s ease;
    }

    &:focus,
    &:hover {
        background: white;

        &::after {
            transform: translate(0.5rem, -5px);
        }
    }

}

    .btn--primary {
        background: $brand-color1-light;
    }

    .btn--secondary {
        background: $brand-color2-light;
    }