.contact-address {
    position: relative;
    display: flex;
    justify-content: flex-end;
    font-family: $font-family-base;
    margin-bottom: 7.5rem;
}

    .contact-address__map {
        width: 60%;
        height: 27rem;
        padding-right: 1rem;
    }

    .contact-address__content {
        width: 50%;
        padding-left: 1rem;
        margin-left: -10%;
        margin-top: 2rem;
        z-index: 1;

        p {
            margin-bottom: 2.5rem;
        }
    }

    .contact-address__list {
        margin: 0;
        padding: 0;
        list-style: none;

        &:first-of-type {
            margin-bottom: 1rem;
        }
    }

.contact-link {
    width: 100%;
    margin-top: 7rem;
}

    .contact-link__btn {
        width: 100%;
    }

    .contact-link__social {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 2.5rem 0 0;
    }

    .contact-link__item {
        width: 1.75rem;
        margin-right: 1.5rem;
    }