.grid {
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 auto;
    margin: 0 -1rem;
    font-family: $font-family-base;
}

.grid--projects {
    width: 83.3333333%;
}

.grid__item {
    padding: 0 1rem;
}

.grid__item-1 {
    width: 100%;
}

.grid__item-1-12 {
    width: calc(100%/12);
}

.grid__item-2-6 {
    width: calc(100%/12);
}

.grid__item-3-12 {
    width: calc(100%/12);
}

.grid__item-1-2 {
    width: 50%;
}

.grid__item-3-4 {
    width: 75%;
}

.grid__item-1-2--flush {
    width: calc(50% + 4rem);
    margin-right: -4rem;
}

// pure override
.pure-g [class*=pure-u] {
    font-family: $font-family-base;
}