// project cards
.project-card {
    display: flex;
    flex-direction: column;
}

    .project-card__heading {
        font-size: $font-size-large;
        margin: 1rem 0 0 0;
    }

    .project-card__tag-list {
        display: flex;
        list-style: none;
        color: $grey;
        padding: 0;
        margin: 0;
        font-family: $font-family-base;
        font-size: $font-size-med;
    }

    .project-card__tag {
        margin-right: 0.25rem;
        
        &::after {
            content: ",";
        }

        &:last-of-type::after {
            content: "";
        }
    }

// project page
.project-item--image {
    padding: 5rem 0;
}