<div class="contact-link">
    <h2>Why not say hello &mdash;</h2>
    <a href="/contact" class="btn btn--secondary contact-link__btn">Contact us</a>
    <ul class="contact-link__social">
        <li class="contact-link__item">
            <a href="http://instagram.com/welshhomestead" class="conatct-link__link">
                <img src="/user/pages/images/icon-instagram.svg" alt="">
            </a>
        </li>
        <li class="contact-link__item">
            <a href="http://instagram.com/welshhomestead" class="conatct-link__link">
                <img src="/user/pages/images/icon-twitter.svg" alt="">
            </a>
        </li>
        <li class="contact-link__item">
            <a href="http://instagram.com/welshhomestead" class="conatct-link__link">
                <img src="/user/pages/images/icon-facebook.svg" alt="">
            </a>
        </li>
    </ul>
</div>