<div class="wrapper">
    <footer class="site-footer">
        <div class="pure-g grid-wrapper u-flex-center">
            <div class="pure-u-1-4 grid-item">
                <a class="logo left" href="{{ base_url == '' ? '/' : base_url }}">
                Welsh <br>Homestead
                </a>
            </div>
            <div class="pure-u-1-2 grid-item">
                <ul class="site-footer__list">
                    {% for page in pages.children.visible %}
                        {% set current_page = (page.active or page.activeChild) ? 'selected' : '' %}
                        <li class="site-nav__item {{ current_page }}">
                            <a class="site-nav__link" href="{{ page.url }}">
                                {{ page.menu }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="pure-u-1-12 grid-item">
                <ul class="site-footer__list site-footer__list--social">
                    <li class="site-footer__item">
                        <a href="" class="site-footer__link site-footer__link--social">
                            <img src="/user/pages/images/icon-instagram.svg" alt="">
                        </a>
                    </li>
                    <li class="site-footer__item">
                        <a href="" class="site-footer__link site-footer__link--social">
                            <img src="/user/pages/images/icon-twitter.svg" alt="">
                        </a>
                    </li>
                    <li class="site-footer__item">
                        <a href="" class="site-footer__link site-footer__link--social">
                            <img src="/user/pages/images/icon-facebook.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="pure-g grid-wrapper u-flex-center">
            <div class="pure-u-1-2 grid-item">
                <p>&copy; copyright Welsh Homestead 2017</p>
            </div>
            <div class="pure-u-1-3 grid-item">
                <p>Design &amp; build by <a href="http://shecollective.org">Shed Collective</a></p>
            </div>
        </div>
    </footer>
</div>