<footer class="site-footer">
    <div class="wrapper">
        <p>Feel free to drop me a message</p>
        <a href="mailto:hello@tombutler.me" class="site-footer__link">hello@tombutler.me</a>
        <ul class="site-footer__social-list">
            <li class="site-footer__social-item">
                <a href="http://instagram.com/thomas.omb" class="site-footer__social-link">Instagram</a>
            </li>
            <li class="site-footer__social-item">
                <a href="http://twitter.com/tomombutler" class="site-footer__social-link">Twitter</a>
            </li>
            <li class="site-footer__social-item">
                <a href="https://www.linkedin.com/in/tomombutler/" class="site-footer__social-link">LinkedIn</a>
            </li>
        </ul>
    </div>
</footer>