<footer class="site-footer">
    <div class="wrapper">
        <section class="site-footer__inner">
            <p>Feel free to drop me a message</p>
            <a href="mailto:hello@tombutler.me" class="site-footer__link">hello@tombutler.me</a>
        </section>
    </div>
</footer>