<header class="site-header">
    <a class="site-logo left" href="{{ base_url == '' ? '/' : base_url }}">
        <img src="/user/themes/tom-butler/images/logo.svg">
    </a>
    {% block header_navigation %}
    <nav class="site-nav">
        {% include 'partials/navigation.html.twig' %}
    </nav>
    {% endblock %}
</header>