// --------------------------------------------------
// Colours
// --------------------------------------------------

// brand colours
$brand-color1:                  #ffa442;
$brand-color2:                  #72ab22;

// brand color tints
$brand-color1-mid:              #ffb566;
$brand-color1-light:            #ffd09c;

$brand-color2-mid:              #bad282;
$brand-color2-light:            #e3F7ba;

// base
$black:                         #171817;
$white:                         #faf9f8;
$grey:                          #f3f3f3;

// text
$text:                          rgba($black, 0.9);

// --------------------------------------------------
// Text
// --------------------------------------------------

// font family
$font-family-base:              "BergenText-Regular", sans-serif;
$font-family-serif:             "leitura-news", serif;

// font sizes
$font-size-small:               0.75rem;
$font-size-base:                16px;
$font-size-med:                 25px;
$font-size-large:               2rem;
$font-size-jumbo:               2.5625rem;



